#root {
  max-width: 1280px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.transcriptions {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.transcriptions_list {
  flex: 1 0 auto;
  min-height: 10rem;
  border-radius: .5rem;
  border: 1px solid #bbb;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  overflow-y: auto;
}

.transcriptions_list-wrap {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  min-height: 10rem;
  height: 100%;
}

.transcriptions_text {
  display: inline-block;
  flex: 0 0 auto;
  border-radius: .5rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  background-color: #363636;
}



input[type=file] {
  display: none;
}







* {
  /*outline: 1px solid #f00;*/
}

